@import url(./reset.css);
/* Set the desired font from google fonts, or adobe fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

/* GLOBALS */
body{
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    /* 
    100,400,700,900 weights available. Add differrent 
    weights to the classes or elements that are needed 
     */
    font-weight: 400;
    font-style: normal;
    color:white;
}
nav {
 padding: 1.5rem 2rem;
 background-color: #222831;
 color: #fff;
}

.checkbtn {
 font-size: 1.5rem;
 color: white;
 cursor: pointer;
}
a {
    text-decoration: none;
    color: #000000;
}


h2 + ul {
    list-style-type: circle;
    margin-bottom:10px;
}


p{
    margin-top: -5px;
    margin-right: 50px;
    margin-left: -301px;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

h2{
    font-size:1.2rem;
    font-weight: 900;
    margin-bottom:10px;
}
.row .column .aboutmeh {
    max-width: 179px;
    font-size: xx-large;
    margin-left: -105px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: thin solid #000000;
    border-radius: 117px;
    padding-left: 25px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;

}

h2 + ul > li {
    margin-left: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.column ul li {
    width: 228px;
}
.column .row .column {


}



hr{
    width:100%;
}


.be::before, .em::before, .insta::before, .snap::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    top: 7px;
    background-repeat: no-repeat;
}

.be::before{
    background-image: url(../img/ico/behance-solid.svg);
   
}

.em::before{
    background-image: url(../img/ico/envelope-solid.svg);

}
.insta::before{
    background-image: url(../img/ico/instagram-solid.svg);
}

.snap::before{
    background-image: url(../img/ico/instagram-solid.svg);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 10px;
    color: #000000;
  }
.column .row .baoutp {
    width: 363px;
}
.column .row .software {
    margin-left: -23px;
    max-height: 250px;
    max-width: 400px;
    margin-top: 45px;
}
.row .software h2 {
    border: thin solid #000000;
    border-radius: 10px;
    padding-left: 16px;
    width: 100px;
}
.row .skills h2 {
    border: thin solid #000000;
    border-radius: 47px;
    padding-left: 22px;
    width: 103px;
}
.row .column p {
    width: 377px;
    margin-left: 64px;
}



.column .row .skills {
    margin-left: 43px;
    margin-top: 45px;
}



.bottom {
    padding-left: 0px;
    margin-top: 377px;
}
.space {
    width: 800px;
    height: 800px;
}
.row .column .headshot {
    width: 527px;
    height: 535px;
    background-image: url(../img/Side%20lighting%20portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
}



.column .row .column {
    margin-left: -94px;
}
#category-selection .category-card .project1 {
    width: 300px;
    height: 500px;
    background-image: url(../img/Atelier%20Poster%20Mockup.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 264% auto;
    margin-left: -183px;
}
#category-selection .category-card .project2 {
    width: 300px;
    height: 500px;
    background-image: url(../img/Atelier%20passes%20mockup.jpg);
    background-size: 257% auto;
    background-repeat: no-repeat;
    background-position: 17% 47%;
    margin-left: -21px;
}
#category-selection .category-card .project3 {
    width: 300px;
    height: 500px;
    background-image: url(../img/ALyssa%205.jpg);
    background-size: 268% auto;
    background-repeat: no-repeat;
    background-position: 55% 0%;
    margin-left: 130px;
}





/* LAYOUT */

.full-page-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: grey;
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero{
    background-color: #FFFFFF;

}

#hero > ul {
    position: absolute;
    bottom:25px;
}

#hero > ul > li {
    display:inline;
    margin:0 5px 0 5px;
}

#about-intro{
    background-image: url(../img/placeholder.png);
}

#intro-text > p, #intro-text >h2{
    position: relative;
    top:200px;
    width:600px;
}

#category-selection{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; /* Adjust based on design */
    margin:0 auto;
    height:100vh;
}

.category-card {
    width: 100%;
    max-width: 250px;
    margin: 25px;
    min-height: 400px;
    max-height: 400px;
}

.project-info{
    position:relative;
    top:300px;
    left:50px;
}


#project-1 {
    background-image: url(../img/placeholder.png);
}




/* tag colors */

.green{
    background-color:rgba(100, 125, 50, 1);
}

.othercolor{
    background-color:rgba(50, 125, 50, 1);
}

.tag {
    display: inline-block;
    /* border:1px solid white; */
    padding:5px 15px 5px 15px;
    border-radius:25px;
}
.mobile-menu {
    background-color: #8FB5E0;
    height: 0px;
}
.mobile-menu .mobile-menu-overlay ul {
    display: inline;
    height: 0px;
    width: 158px;
}
.contact {
    width: 1000px;
    height: 300px;
    background-image: url(../img/Contact%20Page.jpg);
    background-size: contain;
}
