/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#hero .herologo {
    width: 800px;
    height: 400px;
    background-image: url(../img/Bella%20Studios%20Logo%20Blue.png);
    background-size: 636px auto;
    background-position: 42% 30%;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.nav-mobile a {
    color: #FFFFFF;
}

.herologo .skills-list .branding {
    text-align: center;
    width: 109px;
    margin-left: 151px;
    border: thin solid #000000;
    border-radius: 12px;
    height: 20px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 3px;
    background-repeat: no-repeat;
}
.herologo .skills-list .branding2 {
    width: 134px;
    height: 20px;
    border: thin solid #000000;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 347px;
    padding-top: 3px;
    margin-top: -25px;
    color: #000000;
    background-repeat: no-repeat;
}
.herologo .skills-list .branding3 {
    width: 138px;
    height: 20px;
    margin-left: 564px;
    padding-top: 3px;
    margin-top: -25px;
    text-transform: uppercase;
    border: thin solid #000000;
    border-radius: 12px;
    text-align: center;
    color: #000000;
    background-repeat: no-repeat;
}



#hero .herologo .skills-list {
    width: 700px;
    height: 50px;
    margin-top: 311px;
    background-repeat: no-repeat;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    margin-top: 0px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
